<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <!--<add name="TDTDbContext" connectionString="data source=(localdb)\MSSQLLocalDb;initial catalog=test2TDT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TDTDbContext" connectionString="data source=(local);initial catalog=test2TDT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="Planner.Properties.Settings.ToDoToday9ConnectionString" connectionString="Data Source=ELS_SURFACE;Initial Catalog=ToDoToday9;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="TDTDbContext" connectionString="Data Source=ELS_SURFACE;Initial Catalog=TDTcf;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="Planner.Properties.Settings.TDTcfConnectionString" connectionString="Data Source=ELS_SURFACE;Initial Catalog=TDTcf;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="TDTDbContext" connectionString="Data Source=C:\Temp\BillWork.db" providerName="System.Data.SQLite.EF6" />-->
    <add name="TDTDbContext" connectionString="Data Source=BillWork.db" providerName="System.Data.SQLite.EF6" />
    <!--<add name="TDTDbContext" connectionString="Data Source=C:\Projects\Working\BillWork.db" providerName="System.Data.SQLite.EF6" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>